mixin dropdown-demo(text1,text2,inside)
    .dropdown
        .dropdown__text
            h3=text1
            h3=text2
        .dropdown__field(style="border-radius: 4px;")
            p=inside
            <span class="material-icons">expand_more</span>