include src/components/colors/colors.pug
include src/components/text-field/text-field.pug
include src/components/dropdown/dropdown.pug
include src/components/date-dropdown/date-dropdown.pug
include src/components/sub-text-field/sub-text-field.pug
include src/components/checkbox-button/checkbox-button.pug
include src/components/radio-button/radio-button.pug
include src/components/like-button/like-button.pug
include src/components/toggle/toggle.pug
include src/components/rate-button/rate-button.pug
include src/components/buttons/buttons.pug
include src/components/pagination/pagination.pug
include src/components/bullet-list/bullet-list.pug
include src/components/pluses/pluses.pug
include src/components/comments/comments.pug
include src/components/header/header.pug
include src/components/footer/footer.pug
include src/components/cards/cards.pug
include src/components/calendar/calendar.pug


doctype html
html(lang="en")
  head
    title= UI
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="src/css/style.css">
    <script src="https://kit.fontawesome.com/760655fe14.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="src/components/range-slider/index.js"></script>
    <script src="src/components/rate-button/rate-button.js"></script>
    <script src="src/components/dropdown/dropdown.js"></script>
    <script src="src/components/checkbox-button/checkbox-button.js"></script>
    <script src="src/components/calendar/index.js"></script>
    <script src="src/components/calendar/double-enter-field-calendar.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  body
    include src/components/logo-header/logo-header.pug
    .page-wrapper
      .space-between
        .color-column
          +color-row('Dark Shade 100%', '#1F2041')
          +color-row('Dark Shade 75%', '#1F2041')
          +color-row('Dark Shade 50%', '#1F2041')
          +color-row('Dark Shade 25%', '#1F2041')
          +color-row('Dark Shade 5%', '#1F2041')
          +color-row('Purple', '#BC9CFF')
          +color-row('Green', '#6FCF97')
        include src/components/type/type.pug
    include src/components/logo-header/logo-header.pug
    .page-wrapper
      .block-wrapper
        .left-column-wrapper
          div.row-margin20
            +text-field('email','Email','text field','default')
          .text-field.row-margin20
            div
                h3 text field
                h3 hover / focus
            <input type="text" class="text-field_hover form__input" placeholder="This is pretty awesome">
          div.row-margin20
            +dropdown-demo('dropdown','default','Сколько гостей')
          div.row-wrapper
            +text-field('date','ДД.ММ.ГГГГ','masked text field','default')
          .flex-blocks.row-wrapper
            +date-dropdown('date dropdown','ДД.ММ.ГГГГ')
            +date-dropdown('date dropdown','19.08.2019')
          .row-wrapper
            +filter-date-dropdown('filter date dropdown','19 авг - 23 авг')
          .row-wrapper
            +sub-text-field('email','Email','subscription text field')
        div
          div.row-wrapper
            h3.h3-margin checkbox buttons
            +checkbox-button('Можно курить')
            +checkbox-button('Можно с питомцами',true)
            +checkbox-button('Можно пригласить гостей (до 10 человек)',true)
          div.row-wrapper
            h3.h3-margin radio buttons
            .flex-blocks
              +radio-button('Мужчина',true)
              +radio-button('Женщина')
          div.row-wrapper
            h3.h3-margin toggle
            +toggle('Получать спецпредложения',true)
            +toggle('Получать спецпредложения')
          div.row-wrapper
            h3.h3-margin like button
            .flex-blocks.like-block
              +like-button('2')
              +like-button('12','true')
          div.row-wrapper
            h3.h3-margin rate button
            .flex-blocks
              +rate-button('4')
              +rate-button('5')
        div
          div.row-wrapper
            include src/components/range-slider/range-slider.pug
          h3.row-wrapper buttons
          .row-wrapper
            .flex-blocks.button-wrapper
              +button_1('click me')
              +button_1('click me','disabled')
            .flex-blocks.button-wrapper
              +button_2('click me')
              +button_2('click me','disabled')
            .flex-blocks.button-wrapper
              +button_3('click me')
              +button_3('click me','grey')
            +pay-button('перейти к оплате')
          h3 pagination
          +pagination('1','15')
          <p>1-12 из 100+ вариантов аренды</p>

      .block-wrapper
        div
          div.row-margin20
            +dropdown-room_hiden
          div.row-margin20
            +dropdown-room_not-hidden
        +dropdown-guests_not-hidden("Сколько гостей",0,0,0)
        +dropdown-guests_not-hidden("3 гостя",2,1,0)
      .block-wrapper
        div
          +expand-checkbox-list("expandable checkbox list", true)
          +expand-checkbox-list("expandable checkbox list")
        div
          h3.h3-margin rich bheckbox buttons
          +rich-checkbox-button("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
          +rich-checkbox-button("Помощник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера.")
        div
          h3.h3-margin bullet list
          +bullet-list("Нельзя с питомцами")
          +bullet-list("Без вечеринок и мероприятий")
          +bullet-list("Время прибытия — после 13:00,а выезд до 12:00")
      .flex-blocks
        div.pluses-margin
          +pluse_comfort("Комфорт","Шумопоглощающие стены")
          +pluse_convenience("Удобство","Окно в каждой из спален")
        div
          +comments("Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
  .page-wrapper_gray
    include src/components/logo-header/logo-header.pug
    .cards-list
      .flex-column
        +room-finder-card()
        +registration-card()
      .flex-column
        +room-card()
        +login-card()
      .flex-column
        +calendar()


  .page-wrapper_gray
    include src/components/logo-header/logo-header.pug
    .row-wrapper
      +header-not-logged("Home", "About us", "Services", "Careers", "News","Documentation")
    .row-wrapper
      +header-logged("Home", "About us", "Services", "Careers", "News","Documentation","Cosmin Negoita")
    .row-wrapper
      +footer_1()
    .row-wrapper
      +footer_2('Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.')
      
        