
doctype html
html(lang="en")
  head
    title= UI
    <link rel="stylesheet" type="text/css" href="src/css/style.css">
  body
    include src/components/logo-header/logo-header.pug
    div.wraper
      include src/components/colors/colors.pug
      include src/components/type/type.pug
    include src/components/logo-header/logo-header.pug
    div.wraper