<div class="block-range-slider">
    <div class="flex-blocks">
        <h3>range slider
            <input type="text" id="amount" readonly class="range-slider__text">
        </h3>  
    </div>
    <div>
        <div id="slider-range"></div>
    </div>
</div>