<div class="color-column">
    <div class="color-row color-row-1">
        <div>
            <h2 class="color-name">Dark Shade 100%</h2>
            <p class="color-code">#1F2041</p>
        </div>
    </div>
    <div class="color-row color-row-2">
        <div>
            <h2 class="color-name">Dark Shade 75%</h2>
            <p class="color-code">#1F2041</p>
        </div>
    </div>
    <div class="color-row color-row-3">
        <div>
            <h2 class="color-name">Dark Shade 50%</h2>
            <p class="color-code">#1F2041</p>
        </div>
    </div>
    <div class="color-row color-row-4">
        <div>
            <h2 class="color-name">Dark Shade 25%</h2>
            <p class="color-code">#1F2041</p>
        </div>
    </div>
    <div class="color-row color-row-5">
        <div>
            <h2 class="color-name">Dark Shade 5%</h2>
            <p class="color-code">#1F2041</p>
        </div>
    </div>
    <div class="color-row color-row-6">
        <div>
            <h2 class="color-name">Purple</h2>
            <p class="color-code">#BC9CFF</p>
        </div>
    </div>
    <div class="color-row color-row-7">
        <div>
            <h2 class="color-name">Green</h2>
            <p class="color-code">#6FCF97</p>
        </div>
    </div>  
</div>