mixin sub-text-field(name,placeholder,text)
    .subscription-text-field
        div
            h3=text
        div
            input(type="text", class="form__input subscription-field" name=""+name, placeholder="" +placeholder)
            <span class="material-icons">arrow_forward</span>
