<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script src="https://kit.fontawesome.com/760655fe14.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="style.css">
		
		<script src="double-enter-field-calendar.js"></script>
		<script src="index.js"></script>
	</head>
	
	<body>
		<div>
			<input type='text' class="datepicker-here" data-range="true"/>
		</div>
		<div class="calendar">
			<input type='text' id="datepicker-here-1" data-range="true" />
			<input type='text' id="datepicker-here-2" data-range="true" />
		</div>
	</body>
</html>