@font-face {
  font-family: 'Montserrat';
  src: url('../components/fonts/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../components/fonts/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../components/fonts/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../components/fonts/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #1F2041;
  width: 100%;
  line-height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
h1,
h2 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
p,
h3 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-weight: bold;
}
p {
  color: rgba(31, 32, 65, 0.75);
  font-style: normal;
  font-weight: normal;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 19px;
  line-height: 24px;
}
h3 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
}
a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}
li {
  list-style-type: none;
}
span {
  font-size: 24px;
}
input,
label {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
button {
  outline: none;
  cursor: pointer;
  padding: 0;
}
button:active {
  box-shadow: 0 0 5px rgba(94, 88, 129, 0.5);
}
span,
label {
  cursor: pointer;
}
span {
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
}
button {
  color: #ffffff;
  border-radius: 22px;
  border: 0;
  box-shadow: 0;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.header-logo {
  padding: 30px;
  width: calc(100%-30px);
}
.color-column {
  width: 270px;
}
.color-row {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 20px;
  position: relative;
  line-height: 29px;
}
.color-row div {
  display: flex;
  flex-direction: column;
}
.color-row::before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  position: absolute;
}
.color-row-0::before {
  background: #1F2041;
}
.color-row-1::before {
  background: rgba(31, 32, 65, 0.75);
}
.color-row-2::before {
  background: rgba(31, 32, 65, 0.5);
}
.color-row-3::before {
  background: rgba(31, 32, 65, 0.25);
}
.color-row-4::before {
  background: rgba(31, 32, 65, 0.05);
}
.color-row-5::before {
  background: #BC9CFF;
}
.color-row-6::before {
  background: #6FCF97;
}
.color-name {
  font-weight: bold;
  font-size: 19px;
  margin: 0;
  margin-left: 110px;
  width: 500px;
}
.color-code {
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  margin-left: 110px;
}
.heading-column__items {
  display: flex;
  margin-bottom: 50px;
}
.heading-column__items h1:first-child,
.heading-column__items h2:first-child,
.heading-column__items h3:first-child,
.heading-column__items p:first-child {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  content: '';
  width: 40px;
  text-align: right;
  margin-right: 30px;
  color: rgba(31, 32, 65, 0.25);
}
.heading-column__items h1:last-child,
.heading-column__items h2:last-child,
.heading-column__items h3:last-child {
  width: 341px;
}
.heading-column__items p:last-child {
  width: 280px;
}
.text-field div {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}
.text-field div > h3:last-child {
  color: rgba(31, 32, 65, 0.5);
  margin-left: auto;
  font-weight: normal;
}
.form__input {
  width: 320px;
  height: 44px;
  padding: 13px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  color: rgba(31, 32, 65, 0.25);
}
.form__input:hover,
.form__input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
.text-field_hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
.dropdown {
  width: 320px;
}
.dropdown-room {
  width: 266px;
}
.dropdown-guests {
  width: 320px;
}
.dropdown__text {
  display: flex;
}
.dropdown__text > h3:last-child {
  margin-left: auto;
  color: rgba(31, 32, 65, 0.5);
  font-style: normal;
  font-weight: normal;
  color: #7e928e;
}
.dropdown__field {
  display: flex;
  width: 100%;
  height: 44px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 5px;
  color: rgba(31, 32, 65, 0.75);
  align-items: center;
  text-align: center;
}
.dropdown__field > span {
  width: 44px;
  margin-left: auto;
}
.dropdown__content {
  padding: 7px 7px 7px 15px;
  display: block;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
}
.dropdown__content > div {
  display: flex;
  margin-bottom: 7px;
}
.dropdown__content > div h3 {
  display: flex;
  align-items: center;
}
.dropdown__content > div:last-child {
  margin-bottom: 0;
}
.dropdown-guest__content {
  padding: 7px 7px 13px 15px;
  display: block;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
}
.dropdown-guest__content > div {
  display: flex;
  margin-bottom: 7px;
}
.dropdown-guest__content > div h3 {
  display: flex;
  align-items: center;
}
.dropdown-guest__content > div:last-child {
  margin-top: 19px;
  margin-bottom: 0;
}
.dropdown-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  background-color: #fff;
  color: rgba(31, 32, 65, 0.5);
}
.dropdown-btn_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.dropdown__content__btns-block {
  width: 92px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.box-shadow_none {
  box-shadow: none;
}
/* 
.disappeared {
  display: none;
}

.box-shadow {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.appear {
  display: block;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}
*/
.date-dropdown {
  width: 150px ;
  height: 44px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  color: rgba(31, 32, 65, 0.75);
  align-items: center;
  text-align: center;
  display: flex;
  font-style: normal;
  font-weight: normal;
}
.date-dropdown span {
  margin-left: auto;
  width: 44px;
}
.date-dropdown-block {
  width: 150px ;
}
.date-dropdown-block:last-child {
  margin-left: auto;
}
.date-dropdown-block h3 {
  color: #1F2041;
  margin-left: 0 ;
  font-weight: bold ;
}
.filter-date-dropdown span {
  width: 44px;
}
.filter-date-dropdown h3 {
  color: #1F2041;
  margin-left: 0 ;
  font-weight: bold ;
}
.filter-date-dropdown__dropdown {
  width: 266px ;
  height: 44px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  color: rgba(31, 32, 65, 0.75);
  align-items: center;
  text-align: center;
  display: flex;
}
.filter-date-dropdown__dropdown span {
  margin-left: auto;
}
.subscription-text-field h3 {
  color: #1F2041;
  margin-left: 0 ;
  font-weight: bold ;
}
.subscription-text-field__dropdown {
  width: 266px ;
  height: 44px;
  padding-right: 13px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: rgba(31, 32, 65, 0.25);
  align-items: center;
  text-align: center;
  display: flex;
}
.subscription-field {
  width: 266px;
}
.subscription-text-field span {
  width: 44px;
  text-align: center;
  left: -15%;
  top: 8px;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.checkbox {
  margin-bottom: 10px;
  line-height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  align-items: center;
}
.checkbox label {
  width: 195px;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  margin-left: 10px;
}
.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.checkbox label::before {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  left: -10px;
  top: -1px;
}
.checkbox label::after {
  height: 6px;
  width: 8px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-image-slice: 1;
  transform: rotate(-45deg);
  left: -5px;
  top: 4px;
}
.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
.checkbox input[type="checkbox"]:checked + label::before {
  border: 1px solid #BC9CFF;
}
.icons-rotate {
  transform: rotate(-180deg);
}
.expand-checkbox-list__header {
  width: 266px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.expand-checkbox-list__header > span {
  width: 44px;
}
.rich_checkbox__top-text > label {
  text-transform: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  width: 236px;
  color: rgba(31, 32, 65, 0.75);
}
.rich_checkbox__bottom-text {
  text-transform: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  width: 236px;
  margin-top: 5px;
  color: rgba(31, 32, 65, 0.5);
}
.radio-buttons {
  margin-right: 20px;
}
.radio-buttons input[type="checkbox"] {
  display: none;
}
.radio-buttons label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
.radio-buttons label::before,
.radio-buttons label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.radio-buttons label::before {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  box-sizing: border-box;
  left: -10px;
  top: 3px;
}
.radio-buttons label::after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  left: -6px;
  top: 7px;
}
.radio-buttons input[type="checkbox"] + label::after {
  content: none;
}
.radio-buttons input[type="checkbox"]:checked + label::after {
  content: "";
}
.radio-buttons input[type="checkbox"]:checked + label::before {
  border: 1px solid #BC9CFF;
}
.toggles {
  margin-bottom: 14px;
}
.toggles input[type="checkbox"] {
  display: none;
}
.toggles label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  margin-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
.toggles label::before,
.toggles label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.toggles label::before {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  left: -30px;
  top: 3px;
}
.toggles input[type="checkbox"] + label::after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  left: -26px;
  top: 7px;
}
.toggles input[type="checkbox"]:checked + label::after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  left: -6px;
  top: 7px;
}
.toggles input[type="checkbox"]:checked + label::before {
  border: 1px solid #BC9CFF;
}
.like-block > div {
  margin-right: 10px;
}
.like-button input[type="checkbox"] {
  display: none;
}
.like-button {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
  text-align: center;
  line-height: 12px;
  font-family: 'Montserrat';
}
.like-button .fas {
  display: none;
}
.like-button span {
  color: rgba(31, 32, 65, 0.25);
  font-size: 10px;
  align-items: center;
  z-index: 1;
}
.like-button > label {
  display: flex;
  width: 40px;
  height: 20px;
  border-radius: 30px;
  align-items: center;
  justify-content: space-evenly;
}
.like-button label::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 34px;
  z-index: -1;
}
.like-button input[type="checkbox"]:checked + label::before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.like-button input[type="checkbox"]:checked + label {
  color: #BC9CFF;
}
.like-button input[type="checkbox"]:checked + label span {
  color: #BC9CFF;
  background: #BC9CFF;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.like-button input[type="checkbox"]:checked + label .far {
  display: none;
}
.like-button input[type="checkbox"]:checked + label .fas {
  display: inline;
}
.rate-button {
  display: flex;
  margin-right: 20px;
}
.rate-button span {
  font-size: 24px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.rate-button input[type="checkbox"] {
  display: none;
}
.rate-button label {
  position: relative;
  display: inline-block;
  text-align: center;
}
.rate-button label .fas {
  display: none;
}
.rate-button input[type="checkbox"]:checked + label span {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.rate-button input[type="checkbox"]:checked + label .far {
  display: none;
}
.rate-button input[type="checkbox"]:checked + label .fas {
  display: inline;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
}
.ui-widget-header {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  height: 6px;
  margin: 0;
}
.ui-widget.ui-widget-content {
  width: 266px;
  height: 6px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  position: relative;
}
.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.31em;
}
.range-slider__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
  border: 0;
  width: auto;
  text-align: right;
  margin-bottom: 20px;
}
.ui-slider .ui-slider-range {
  position: absolute;
  font-size: 0.7em;
  display: block;
  border: 0;
}
.ui-corner-all {
  border-top-left-radius: 3px;
}
.button-1 {
  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
}
.button-2 {
  position: relative;
  width: 97px;
  height: 42px;
  border-radius: 30px;
  background: #fff;
  text-align: center;
  margin-top: 2px;
  margin-left: 2px;
}
.button-2 h3 {
  color: #BC9CFF;
  z-index: 1;
}
.button-2::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 34px;
  z-index: -1;
}
.button-1-header {
  height: 34px;
}
.button-2-header {
  height: 32px;
}
.button-2_disabled {
  cursor: not-allowed;
}
.button-2_disabled::before {
  opacity: 0.5;
}
.button-3 {
  background-color: #ffffff;
}
.button-3 h3 {
  color: #BC9CFF;
}
.button-3_grey h3 {
  color: rgba(31, 32, 65, 0.5);
}
.pay-button {
  position: relative;
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
}
.pay-button h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
}
.pay-button h3 span {
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  right: 10px;
}
.pagination {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.pagination-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 11px;
}
.pagination-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff00;
  color: rgba(31, 32, 65, 0.5);
  align-items: center;
  text-align: center;
}
.pagination-item_active {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #ffffff;
}
.pagination-item_last {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.pagination-item_last span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
}
.bullet-list {
  position: relative;
  margin-bottom: 10px;
  width: 270px;
}
.bullet-list > p {
  margin-left: 20px;
}
.bullet-list::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
}
.pluses {
  display: flex;
  position: relative;
  width: 280px;
  margin-bottom: 40px;
}
.pluses::after {
  content: '';
  display: block;
  position: absolute;
  top: 65px;
  width: 100%;
  height: 1px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
}
.pluses__icon-block {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pluses-icon {
  color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-size: 48px;
}
.pluses__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0;
}
.pluses__text__header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.pluses__text__footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.comments {
  width: 720px;
  margin-bottom: 40px;
}
.comments__author {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.comments__img-block {
  background: url(../img/1.png) no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  border-radius: 50%;
}
.comments__text {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comments__author__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-top: 2px;
}
.comments__author__data {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-bottom: 2px;
}
.comments__text-block {
  display: flex;
}
.comments__item-like {
  min-width: 48px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
header {
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}
.header__company {
  margin-left: 140px;
  display: flex;
  align-items: center;
}
.header__nav {
  margin-right: 140px;
  display: flex;
  align-items: center;
}
.header__nav > li {
  margin-right: 30px;
}
.header__nav_active-page > a {
  font-style: normal;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
.header__nav__dropdown {
  display: flex;
  align-items: center;
}
.header__nav__user {
  margin-left: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.header__nav__user::before {
  left: -30px;
  width: 1px;
  height: 30px;
  background: rgba(31, 32, 65, 0.1);
  position: absolute;
  content: '';
}
.footer {
  background-color: #fff;
  width: 100%;
}
.footer__top-wrapper {
  padding: 100px 140px;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer__bottom-wrapper {
  padding: 23px 140px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__column-wrapper {
  display: flex;
  flex-direction: column;
}
.footer__column-wrapper > h3,
.footer__column-wrapper > a,
.footer__column-wrapper > p,
.footer__column-wrapper > svg {
  margin-bottom: 20px;
}
.footer__first-column {
  width: 260px;
}
.footer__p-wrapper {
  width: 200px;
}
.brand-icon {
  display: flex;
  align-items: center;
}
.brand-icon > i {
  width: 24px;
  height: 24px;
  background: -moz-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  margin-left: 20px;
}
.brand-icon > i:first-child {
  margin: 0;
}
.footer-2__content-wrapper {
  padding: 100px 0 110px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_display-center {
  display: flex;
  justify-content: center;
}
.footer-2__logo-company-wrapper {
  margin-bottom: 20px;
}
.footer-2__text-wrapper {
  margin-bottom: 25px;
}
.cards-wrapper {
  background-color: #ffffff;
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.datepicker-inline {
  background-color: #fff;
}
.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}
/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 32px;
  z-index: 1;
}
.datepicker--cell.-focus- {
  background: #f0f0f0;
}
.datepicker--cell.-current- {
  color: #ffffff;
}
.datepicker--cell.-current-.-focus- {
  color: #4a4a4a;
}
.datepicker--cell.-current-.-in-range- {
  color: rgba(31, 32, 65, 0.5);
}
.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
  color: #4a4a4a;
  border-radius: 0;
}
.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae;
}
.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae;
}
.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}
.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}
.datepicker--cell.-range-from- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 4px 0 0 4px;
}
.datepicker--cell.-range-to- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 0 4px 4px 0;
}
.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px;
}
.datepicker--cell.-selected- {
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 50%;
}
.datepicker--cell.-selected-.-current- {
  color: #fff;
  background: #19ff52;
}
.datepicker--cell.-selected-.-focus- {
  background: #c3dd4f;
}
.datepicker--cell:empty {
  cursor: default;
}
.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}
.datepicker--day-name {
  color: #BC9CFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.datepicker--cell-day {
  width: 14.28571%;
}
.datepicker--cells-months {
  height: 170px;
}
.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}
.datepicker--years {
  height: 170px;
}
.datepicker--cells-years {
  height: 170px;
}
.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}
.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}
/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}
@media print {
  .datepickers-container {
    display: none;
  }
}
.datepicker {
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100;
}
.datepicker.-from-top- {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.datepicker.-from-right- {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.datepicker.-from-bottom- {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.datepicker.-from-left- {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
.datepicker.active {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
}
.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.datepicker-inline .datepicker--pointer {
  display: none;
}
.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
}
.-only-timepicker- .datepicker--content {
  display: none;
}
.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1;
}
.-top-left- .datepicker--pointer,
.-top-center- .datepicker--pointer,
.-top-right- .datepicker--pointer {
  top: calc(100% - 4px);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.-right-top- .datepicker--pointer,
.-right-center- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  right: calc(100% - 4px);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.-bottom-left- .datepicker--pointer,
.-bottom-center- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
.-left-top- .datepicker--pointer,
.-left-center- .datepicker--pointer,
.-left-bottom- .datepicker--pointer {
  left: calc(100% - 4px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.-top-left- .datepicker--pointer,
.-bottom-left- .datepicker--pointer {
  left: 10px;
}
.-top-right- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  right: 10px;
}
.-top-center- .datepicker--pointer,
.-bottom-center- .datepicker--pointer {
  left: calc(50% - 10px / 2);
}
.-left-top- .datepicker--pointer,
.-right-top- .datepicker--pointer {
  top: 10px;
}
.-left-bottom- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  bottom: 10px;
}
.-left-center- .datepicker--pointer,
.-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2);
}
.datepicker--body {
  display: none;
}
.datepicker--body.active {
  display: block;
}
.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}
/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 32px;
  padding: 4px;
}
.-only-timepicker- .datepicker--nav {
  display: none;
}
.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker--nav-action:hover {
  background: #f0f0f0;
}
.datepicker--nav-action.-disabled- {
  visibility: hidden;
}
.datepicker--nav-action svg {
  width: 32px;
  height: 32px;
}
.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px;
}
.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px;
}
.datepicker--nav-title i {
  font-style: normal;
  color: #9c9c9c;
  margin-left: 5px;
}
.datepicker--nav-title:hover {
  background: #f0f0f0;
}
.datepicker--nav-title.-disabled- {
  cursor: default;
  background: none;
}
.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef;
}
.datepicker--button {
  color: #0771a1;
  cursor: pointer;
  border-radius: 4px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
}
.datepicker--button:hover {
  color: #4a4a4a;
  background: #f0f0f0;
}
.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}
/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px;
  position: relative;
}
.datepicker--time.-am-pm- .datepicker--time-sliders {
  -webkit-flex: 0 1 138px;
  -ms-flex: 0 1 138px;
  flex: 0 1 138px;
  max-width: 138px;
}
.-only-timepicker- .datepicker--time {
  border-top: none;
}
.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
  -ms-flex: 0 1 153px;
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px;
}
.datepicker--time-label {
  display: none;
  font-size: 12px;
}
.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px;
}
.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}
.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}
.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
  content: '';
  background: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}
.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after {
  opacity: 1;
}
.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}
.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 0.5% 1px no-repeat;
}
.datepicker--time-row:first-child {
  margin-bottom: 4px;
}
.datepicker--time-row input[type='range'] {
  background: none;
  cursor: pointer;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.datepicker--time-row input[type='range']::-ms-tooltip {
  display: none;
}
.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
  border-color: #b8b8b8;
}
.datepicker--time-row input[type='range']:hover::-moz-range-thumb {
  border-color: #b8b8b8;
}
.datepicker--time-row input[type='range']:hover::-ms-thumb {
  border-color: #b8b8b8;
}
.datepicker--time-row input[type='range']:focus {
  outline: none;
}
.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}
.datepicker--time-row input[type='range']:focus::-moz-range-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}
.datepicker--time-row input[type='range']:focus::-ms-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}
.datepicker--time-row input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}
.datepicker--time-row input[type='range']::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  margin-top: -6px;
}
.datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent;
}
.datepicker--time-row input[type='range']::-moz-range-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent;
}
.datepicker--time-row input[type='range']::-ms-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent;
}
.datepicker--time-row input[type='range']::-ms-fill-lower {
  background: transparent;
}
.datepicker--time-row input[type='range']::-ms-fill-upper {
  background: transparent;
}
.datepicker--time-row span {
  padding: 0 12px;
}
.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em;
}
.datepicker--time-icon:after,
.datepicker--time-icon:before {
  content: '';
  background: currentColor;
  position: absolute;
}
.datepicker--time-icon:after {
  height: 0.4em;
  width: 1px;
  left: calc(50% - 1px);
  top: calc(50% + 1px);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.datepicker--time-icon:before {
  width: 0.4em;
  height: 1px;
  top: calc(50% + 1px);
  left: calc(50% - 1px);
}
.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc;
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}
.page-wrapper {
  margin: 65px 140px 140px 140px;
}
.page-wrapper_gray {
  padding-bottom: 130px;
  background: #F4F4F6;
}
.row-margin20 {
  margin-bottom: 20px;
}
.right-column > h3 {
  margin-bottom: 16px;
}
.row-wrapper {
  margin-bottom: 40px;
}
.button-wrapper {
  margin-bottom: 30px;
}
.button-wrapper button {
  margin-right: 20px;
}
.box-shadow {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.flex-blocks {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.appear {
  display: block;
}
.hidden {
  visibility: hidden;
}
.disappeared {
  display: none;
}
.h3-margin {
  margin-bottom: 16px;
}
.pluses-margin {
  margin-right: 155px;
}
.cards-list {
  margin: 0 140px 0 140px;
  display: flex;
  justify-content: space-between;
}
.cards-list > div {
  margin-bottom: 40px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
