/* ________Main style________*/
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  color: #1F2041;
  width: 100%;
  line-height: 24px;
}
h1,
h2 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
p,
h3 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
p {
  color: rgba(31, 32, 65, 0.75);
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 19px;
  line-height: 24px;
}
h3 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
}
header {
  padding: 30px;
  margin-bottom: 33px;
  width: calc(100%-30px);
}
main {
  display: flex;
}
/* ________Color & Type________*/
.color-column {
  margin-left: 150px;
  margin-right: 427px;
}
.color-row {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 20px;
  position: relative;
  line-height: 29px;
}
.color-row div {
  display: flex;
  flex-direction: column;
}
.color-row::before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  position: absolute;
}
.color-row-1::before {
  background: #1F2041;
}
.color-row-2::before {
  background: rgba(31, 32, 65, 0.75);
}
.color-row-3::before {
  background: rgba(31, 32, 65, 0.5);
}
.color-row-4::before {
  background: rgba(31, 32, 65, 0.25);
}
.color-row-5::before {
  background: rgba(31, 32, 65, 0.05);
}
.color-row-6::before {
  background: #BC9CFF;
}
.color-row-7::before {
  background: #6FCF97;
}
.color-name {
  font-weight: bold;
  font-size: 19px;
  margin: 0;
  margin-left: 110px;
  width: 500px;
}
.color-code {
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  margin-left: 110px;
}
.heading-column__items {
  display: flex;
  margin-bottom: 50px;
}
.heading-column__items h1:first-child,
.heading-column__items h2:first-child,
.heading-column__items h3:first-child,
.heading-column__items p:first-child {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  content: '';
  width: 40px;
  text-align: right;
  margin-right: 30px;
  color: rgba(31, 32, 65, 0.25);
}
.heading-column__items h1:last-child,
.heading-column__items h2:last-child,
.heading-column__items h3:last-child,
.heading-column__items p:last-child {
  width: 336px;
}
/* ________Form Elements________*/
.field-column {
  margin-left: 140px;
}
.text-field div {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}
.text-field div h3:last-child {
  color: rgba(31, 32, 65, 0.5);
  margin-left: auto;
  font-weight: normal;
}
.form__input {
  width: 320px;
  height: 44px;
  padding: 13px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: rgba(31, 32, 65, 0.25);
}
.form__input:hover,
.form__input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
.text-field_hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
.dropdown {
  width: 320px;
}
.dropdown div {
  display: flex;
}
.dropdown__text {
  margin-bottom: 5px;
}
.dropdown__text h3:last-child {
  margin-left: auto;
  color: rgba(31, 32, 65, 0.5);
}
.dropdown__field {
  width: 320px;
  height: 44px;
  padding-right: 13px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: rgba(31, 32, 65, 0.75);
  align-items: center;
  text-align: center;
}
i {
  margin-left: auto;
  color: rgba(31, 32, 65, 0.5);
}
.date-dropdown {
  width: 150px ;
  height: 44px;
  padding-right: 13px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: rgba(31, 32, 65, 0.75);
  align-items: center;
  text-align: center;
  display: flex;
}
.flex-blocks {
  display: flex;
}
.date-dropdown-block {
  width: 150px ;
  margin-bottom: 20.56px;
}
.date-dropdown-block:last-child {
  margin-left: auto;
}
.date-dropdown-block h3 {
  color: #1F2041;
  margin-left: 0 ;
  font-weight: bold ;
}
.filter-date-dropdown {
  margin-bottom: 41px;
}
.filter-date-dropdown h3 {
  color: #1F2041;
  margin-left: 0 ;
  font-weight: bold ;
}
.filter-date-dropdown__dropdown {
  width: 266px ;
  height: 44px;
  padding-right: 13px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  color: rgba(31, 32, 65, 0.75);
  align-items: center;
  text-align: center;
  display: flex;
}
.subscription-text-field h3 {
  color: #1F2041;
  margin-left: 0 ;
  font-weight: bold ;
}
.subscription-text-field__dropdown {
  width: 266px ;
  height: 44px;
  padding-right: 13px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: rgba(31, 32, 65, 0.25);
  align-items: center;
  text-align: center;
  display: flex;
}
.subscription-field {
  width: 266px;
}
.subscription-text-field i {
  text-align: center;
  left: -30px;
  top: 1.5px;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
/* ----------Checkbox Buttons----------*/
.checkbox-column {
  margin-left: 126px;
  margin-right: 132px;
}
.checkbox-column > div {
  margin-bottom: 40px;
}
.checkbox-column h3 {
  margin-bottom: 16px;
}
.checkbox {
  margin-bottom: 10px;
  line-height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.checkbox label {
  width: 195px;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  margin-left: 10px;
}
.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.checkbox label::before {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  left: -10px;
  top: 0px;
}
.checkbox label::after {
  height: 6px;
  width: 8px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-image-slice: 1;
  transform: rotate(-45deg);
  left: -5px;
  top: 5px;
}
.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
.checkbox input[type="checkbox"]:checked + label::before {
  border: 1px solid #BC9CFF;
}
/* ----------Checkbox Buttons end----------*/
/* ----------Radio Buttons----------*/
.radio-buttons {
  margin-right: 20px;
}
.radio-buttons input[type="checkbox"] {
  display: none;
}
.radio-buttons label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
.radio-buttons label::before,
.radio-buttons label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.radio-buttons label::before {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  box-sizing: border-box;
  left: -10px;
  top: 3px;
}
.radio-buttons label::after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  left: -6px;
  top: 7px;
}
.radio-buttons input[type="checkbox"] + label::after {
  content: none;
}
.radio-buttons input[type="checkbox"]:checked + label::after {
  content: "";
}
.radio-buttons input[type="checkbox"]:checked + label::before {
  border: 1px solid #BC9CFF;
}
/* ----------Radio Buttons end----------*/
/* ----------Toggles----------*/
.toggles input[type="checkbox"] {
  display: none;
}
.toggles label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  margin-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
.toggles label::before,
.toggles label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.toggles label::before {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  left: -30px;
  top: 3px;
}
.toggles input[type="checkbox"] + label::after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  left: -26px;
  top: 7px;
}
.toggles input[type="checkbox"]:checked + label::after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  left: -6px;
  top: 7px;
}
.toggles input[type="checkbox"]:checked + label::before {
  border: 1px solid #BC9CFF;
}
/* ----------Toggles end----------*/
/* ----------Like Buttons----------*/
.like-button {
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
  font-family: 'Montserrat';
}
.like-button i {
  color: rgba(31, 32, 65, 0.25);
  font-size: 10px;
  align-items: center;
}
.like-button input[type="checkbox"] {
  display: none;
}
.like-button label {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  width: 40px;
  text-align: center;
}
.like-button label .fas {
  display: none;
}
.like-button label::before {
  position: absolute;
  content: "";
  display: inline-block;
}
.like-button label::before {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  left: 0px;
  top: -4px;
}
.like-button input[type="checkbox"]:checked + label::before {
  border: 1px solid #BC9CFF;
}
.like-button input[type="checkbox"]:checked + label {
  color: #BC9CFF;
}
.like-button input[type="checkbox"]:checked + label i {
  color: #BC9CFF;
  background: #BC9CFF;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.like-button input[type="checkbox"]:checked + label .far {
  display: none;
}
.like-button input[type="checkbox"]:checked + label .fas {
  display: inline;
}
/* ----------Like Buttons end----------*/
/* ----------Rate Buttons----------*/
.rate-button {
  display: flex;
  margin-right: 20px;
}
.rate-button span {
  font-size: 24px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.rate-button input[type="checkbox"] {
  display: none;
}
.rate-button label {
  position: relative;
  display: inline-block;
  text-align: center;
}
.rate-button label .fas {
  display: none;
}
.rate-button input[type="checkbox"]:checked + label span {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.rate-button input[type="checkbox"]:checked + label .far {
  display: none;
}
.rate-button input[type="checkbox"]:checked + label .fas {
  display: inline;
}
/* ----------Rate Buttons end----------*/
/* ----------Buttons end----------*/
.pay-button {
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: 0;
  box-shadow: 0;
}
.pay-button h3 {
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
}
.purchase__button {
  width: 200px;
  height: 50px;
  margin-left: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  border-width: 0;
  border-radius: 5px;
  border: 1px solid black;
}
